#filters {
    .title {
        margin-left: 5px;
        margin-bottom: 5px;
        font-weight: bold;
    }
    
    .filter {
        background-color: #fff;
        border: 1px solid #e6eaf1;
        border-radius: 6px;
        padding: 4px 12px 8px 12px;
        display: flex;
        align-items: center;
        margin-right: 10px;

        .name {
            margin-right: 5px;
        }

        button {
            display: inline-block;
            border: none;
            background: none;
            padding: 0;
            margin-left: 5px;
            width: 11px;
            height: 11px;
            line-height: 11px;

            &:hover {
                font-weight: bold;
            }
        }
    }
}